{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <p class="w3-margin">This web application is meant to give users a quick look into the potential of heat-pump assisted use from their waste heat source.
    Although the term "waste" is in use here, the source could be anything underutilized. Waste heat sources come in many different forms such as geothermal,
    industrial process heat, gas flaring, or rejected heat from electricity generation. Putting these sources back into a district heating network can provide new
    revenue streams, higher utilization factors, and help companies meet their environment, social, governance mandates. </p>
    <p class="w3-margin">The single stage heat pump of these simulations uses ammonia as a working fluid. Ammonia has a boiling point of -28F (-33C) and is an excellent starting
    point for heat recovery. Schematics for the simulation in TESPy appear in the picture above the parameters card. After entering known parameters for the customer and from your waste 
    heat source, run the simulation. A loading dial will indicate when the simulation is running in the background. The loading dial will disappear after the results are printed. Keep your simulation number to revisit the results later. 
    The initial pressure setting is 5 bar.</p>
    <p class="w3-margin">Should you need additional assistance with the simulation, or if you would like to discuss customization options, please be in touch using the contact us page.</p>
</body>
</html>
{% endblock content %}