{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a href="{% url 'home' %}" id="getstarted" @click="hideMe">Start a New Simulation</a></button>
    <img v-if="ran_again" alt="heat pump results" class="displayed" src={% static "lines.png" %} id="results_chart">
    <ul>
        <template v-if="ran" id="results">
            <img v-if="ran_again" alt="heat pump results" class="displayed" src={% static "lines.png" %} id="results_chart">
            <h3>Simulation Number: [[ row ]] </h3>
            <h4>Single-Stage Centralized Heat Pump Energy Efficiency for District Heating
                <table class="w3-table-all w3-centered w3-hoverable">
                <hr>
                <div v-for="(value, key) in sim" :key="key" id="something_too">
                <h4><em>Heat Load Factor:</em></h4> [[ parseFloat(key).toFixed(1) ]]
                    <div v-for="(cop, temp) in value" :key="temp"  class="w3-hover-border-color" id="something">
                    Waste Heat Supply Temperature (Celsius): [[ parseFloat(temp).toFixed(0) ]] | Coefficient of Performance: [[ parseFloat(cop).toFixed(2) ]]
                    </div>
                </div>
                </table>
            </h4>
            <p>This simulation is run using Thermal Engineering Systems in Python (TESPy). Any errors are the website developer's own (<a href="http://www.nicholasfry.net">Nicholas Fry).</a><br><br>
            Witte, Francesco & Tuschy, Ilja. (2020). TESPy: Thermal Engineering Systems in Python. Journal of Open Source Software. 5. 2178. <a href="https://doi.org/10.21105/joss.02178">https://doi.org/10.21105/joss.02178</a> </p>
        </template>
    </ul>
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a href="{% url 'home' %}" id="getstarted" @click="hideMe">Start a New Simulation</a></button>
</body>
</html>
{% endblock content %}