{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be in Touch</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="w3-container">
        <h5 class="white-text">Let's talk.</h5>
        <p class="grey-text text-lighten-4">Feel free to be in touch if you would like to collaborate or need assistance. <a href="nicholas.fry.1@und.edu" class="black-text">nicholas.fry.1<span class="domain">und.edu</span></a></p>
        <a href="https://www.linkedin.com/in/nicholas-f-aa12561a4/" class="w3-button w3-blue"><i class="fab fa-linkedin fa-2x"></i> LinkedIn</a>
        <a href="https://github.com/nicholasfry" class="w3-button w3-orange"><i class="fab fa-github-square fa-2x"></i> Github</a>
        <p class="grey-text text-lighten-4">Association Memberships:</p>
        <img src="https://geothermal.org/sites/default/files/styles/full_content/public/2021-02/Stacked%20Logo%20-%20Vertical.png?itok=7LK_2fWB" class="w3-border w3-padding-white" data-position="top" data-tooltip="Geothermal Rising Association" style="width:100%;max-width:250px">
        <img src="https://yt3.ggpht.com/a/AATXAJzSduaR6ZU4hlD9NB5JhrtSQucOTcn3V8vI4g=s900-c-k-c0xffffffff-no-rj-mo" class="w3-border w3-padding-white" data-position="top" data-tooltip="International District Energy Association" style="width:100%;max-width:250px">
        <img src="https://media.glassdoor.com/sqll/287302/asme-squarelogo.png" class="w3-border w3-padding-white" data-position="top" data-tooltip="American Society of Mechanical Engineers" style="width:100%;max-width:250px">
    </div>
</body>
</html>
{% endblock content %}