<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heat Pumps for District Heating</title>
</head>
<body>
    <div id="app">
    {% csrf_token %} 
    <h2>Run a new simulation</h2>
    <div>
        <input type="number" placeholder="Terminal Temp Diff @ Condenser" v-model="newSim.ttd_condenser"><br>
        <input type="number" placeholder="Terminal Temp Diff @ Evaporator" v-model="newSim.ttd_evaporator"><br>
        <input type="number" placeholder="Water Pump Efficiency" v-model="newSim.water_pump_eff"><br>
        <input type="number" placeholder="District Heating Pump Efficiency" v-model="newSim.dh_pump_eff"><br>
        <input type="number" placeholder="Evaporator Pump Efficiency" v-model="newSim.evap_pump_eff"><br>
        <input type="number" placeholder="Compressor Efficiency" v-model="newSim.compressor_eff"><br>
        <input type="number" placeholder="District Heating Return Temp" v-model="newSim.dh_return_temp"><br>
        <input type="number" placeholder="Pressure in Bar for DH" v-model="newSim.pressure_bar_dh"><br>
        <input type="number" placeholder="DH Supply Temperature" v-model="newSim.dh_supply_temp"><br>
        <input type="number" placeholder="Waste Heat Design Temperature" v-model="newSim.waste_design_temp"><br>
        <input type="number" placeholder="Pressure in Bar of the Waste Heat Fluid" v-model="newSim.waste_design_pressure"><br>
        <input type="number" placeholder="Return Pressure from Heat Pump" v-model="newSim.return_pressure_from_hp"><br>
        <input type="number" placeholder="Return Temperature from Heat Pump" v-model="newSim.return_temperature_from_hp"><br>
        <input type="number" placeholder="DH Heat Demand in Watts" v-model="newSim.dh_demand_watts"><br>
        <template v-if="postErrors.name">
            <p v-for="error in postErrors.name">[[ error ]]</p>
        </template>
        <!-- <select v-model="newPoke.author">
            <option v-for="user in users" :key="user.id" :value="user.id">[[ user.username ]]</option>
        </select><br> -->
        <button @click="createSim">Run Simulation</button>
    </div> 
    <ul>
        <template v-if="ran">
            <h3>Simulation Number: [[ row ]] </h3>
            <h4>Single-Stage Centralized Heat Pump Energy Efficiency for District Heating
                <table class="w3-table-all w3-centered w3-hoverable">
                <tr>
                    <th>Heat Load Factor:</th>
                    <div v-for="(value, key) in sim" :key="key">
                    [[ parseFloat(key).toFixed(1) ]]
                    </div>
                </tr>
                <div v-for="(value, key) in sim" :key="key">
                [[ parseFloat(key).toFixed(1) ]]
                    <div v-for="(cop, temp) in value" :key="temp"  >
                    Waste Heat Temperature (Celsius): [[ parseFloat(temp).toFixed(0) ]] Coefficient of Performance: [[ parseFloat(cop).toFixed(2) ]]
                    </div>
                </div>
                </table>
            </h4>
        </template>
    </ul>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                ran: false,
                row: 0,
                sim: [],
                sim_json: {},
                currentsim: null,
                newSim: {
                    "ttd_condenser": 5,
                    "ttd_evaporator": 5,
                    "water_pump_eff": .75,
                    "dh_pump_eff": .80,
                    "evap_pump_eff": .80,
                    "compressor_eff": .80,
                    "dh_return_temp": 50,
                    "pressure_bar_dh": 10,
                    "dh_supply_temp": 75,
                    "waste_design_temp": 35,
                    "waste_design_pressure": 2,
                    "return_pressure_from_hp": 2,
                    "return_temperature_from_hp": 15,
                    "dh_demand_watts": 4000000,
                },
                editMode: false,
                csrf_token: "",
                postErrors: {}
            },
            methods: {
                runSim: function() {
                    axios({
                    url: `/${this.row}/`
                    }).then(response => {
                        sim_json = JSON.parse(response.data)
                        console.log(sim_json)
                        this.sim = sim_json
                        this.ran = true
                    })
                },
                toggleEdit: function() {
                    this.editMode = this.editMode ? false : true
                },
                createSim: function() {
                    axios({
                    method: 'post',
                    url: '/create/',
                    data: {
                    "ttd_condenser": this.newSim.ttd_condenser,
                    "ttd_evaporator": this.newSim.ttd_evaporator,
                    "water_pump_eff": this.newSim.water_pump_eff,
                    "evap_pump_eff": this.newSim.evap_pump_eff,
                    "dh_pump_eff": this.newSim.dh_pump_eff,
                    "compressor_eff": this.newSim.compressor_eff,
                    "dh_return_temp": this.newSim.dh_return_temp,
                    "pressure_bar_dh": this.newSim.pressure_bar_dh,
                    "dh_supply_temp": this.newSim.dh_supply_temp,
                    "waste_design_temp": this.newSim.waste_design_temp,
                    "waste_design_pressure": this.newSim.waste_design_pressure,
                    "return_pressure_from_hp": this.newSim.return_pressure_from_hp,
                    "return_temperature_from_hp": this.newSim.return_temperature_from_hp,
                    "dh_demand_watts": this.newSim.dh_demand_watts,
                    
                    }
                }).then(response => {
                    this.row = response.data
                    this.runSim(response.data)
                    // console.log(response.data)
                })
                }
            },
        })
    </script>
</body>
</html>
