{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heat Pumps for District Heating</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div id="app">
    {% csrf_token %} 
    <h2>Run a new simulation</h2>
        <img alt="some random image" class="displayed" src="https://github.com/NicholasFry/Heat-pump-DH-web-application/blob/main/HeatPumpDHWeb/HP_app_2.png?raw=true">
        <div class="grid-container" style="grid-template-columns:auto auto auto">
        <form>
        <div class="w3-row">
            <div class="w3-col s6 w3-green w3-center">
                <label for="ttd_u">Terminal Temp Diff @ Condenser:</label>
                <input type="number" placeholder="Terminal Temp Diff @ Condenser" v-model="newSim.ttd_condenser" name="ttd_u" style='width:5em'>
            </div>
            <div class="w3-col s6 w3-green w3-center">
                <label for="ttd_l">Terminal Temp Diff @ Evaporator:</label>
                <input type="number" placeholder="Terminal Temp Diff @ Evaporator" v-model="newSim.ttd_evaporator" name="ttd_l" style='width:5em'>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col s6 w3-orange w3-center">
                <label for="water_pump_n">Water Pump Efficiency:</label>
                <input type="number" placeholder="Water Pump Efficiency" v-model="newSim.water_pump_eff" name="water_pump_n" style='width:5em'>
            </div>
            <div class="w3-col s6 w3-orange w3-center">
                <label for="dh_hp_n">District Heating Pump Efficiency:</label>
                <input type="number" placeholder="District Heating Pump Efficiency" v-model="newSim.dh_pump_eff" name="dh_hp_n" style='width:5em'>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col s6 w3-green w3-center">
                <label for="ev_pump_n">Evaporator Pump Efficiency:</label>
                <input type="number" placeholder="Evaporator Pump Efficiency" v-model="newSim.evap_pump_eff" name="ev_pump_n" style='width:5em'>
            </div>
            <div class="w3-col s6 w3-green w3-center">
                <label for="comp_n">Compressor Efficiency:</label>
                <input type="number" placeholder="Compressor Efficiency" v-model="newSim.compressor_eff" name="comp_n" style='width:5em'>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col s6 w3-orange w3-center">
                <label for="dh_return_temp">District Heating Return Temp:</label>
                <input type="number" placeholder="District Heating Return Temp" v-model="newSim.dh_return_temp" name="dh_return_temp" style='width:5em'>
            </div>
            <div class="w3-col s6 w3-orange w3-center">
                <label for="pr_bar_dh">Pressure in Bar for District Heating:</label>
                <input type="number" placeholder="Pressure in Bar for DH" v-model="newSim.pressure_bar_dh" name="pr_bar_dh" style='width:5em'>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col s6 w3-green w3-center">
                <label for="dh_supply_temp">DH Supply Temperature:</label>
                <input type="number" placeholder="DH Supply Temperature" v-model="newSim.dh_supply_temp" name="dh_supply_temp" style='width:5em'>
            </div>
            <div class="w3-col s6 w3-green w3-center">
                <label for="waste_heat_temp">Waste Heat Design Temperature:</label>
                <input type="number" placeholder="Waste Heat Design Temperature" v-model="newSim.waste_design_temp" name="waste_heat_temp" style='width:5em'>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col s6 w3-orange w3-center">
                <label for="waste_design_pressure">Pressure in Bar of the Waste Heat Fluid:</label>
                <input type="number" placeholder="Pressure in Bar of the Waste Heat Fluid" v-model="newSim.waste_design_pressure" name="waste_heat_pump" style='width:5em'>
            </div>
            <div class="w3-col s6 w3-orange w3-center">
                <label for="return_pressure_from_hp">Return Pressure from Heat Pump:</label>
                <input type="number" placeholder="Return Pressure from Heat Pump" v-model="newSim.return_pressure_from_hp" name="return_pressure_from_hp" style='width:5em'>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col s6 w3-green w3-center">
                <label for="return_temperature_from_hp">Return Temperature from Heat Pump:</label>
                <input type="number" placeholder="Return Temperature from Heat Pump" v-model="newSim.return_temperature_from_hp" name="return_temperature_from_hp" style='width:5em'>
            </div>
            <div class="w3-col s6 w3-green w3-center">
                <label for="dh_demand_watts">DH Heat Demand in Watts:</label>
                <input type="number" placeholder="DH Heat Demand in Watts" v-model="newSim.dh_demand_watts" name="dh_demand_watts" style='width:8em'>
            </div>
        </div>
            <template v-if="postErrors.name">
                <p v-for="error in postErrors.name">[[ error ]]</p>
            </template>
            <!-- <select v-model="newPoke.author">
                <option v-for="user in users" :key="user.id" :value="user.id">[[ user.username ]]</option>
            </select><br> -->
            <button @click="createSim">Run Simulation</button>
        </form> 
        <div class="loader" v-if="is_loading"></div>
        </div>
    <ul>
        <template v-if="ran" id="results">
            <h3>Simulation Number: [[ row ]] </h3>
            <h4>Single-Stage Centralized Heat Pump Energy Efficiency for District Heating
                <table class="w3-table-all w3-centered w3-hoverable">
                <div v-for="(value, key) in sim" :key="key">
                <hr><h4><em>Heat Load Factor:</em></h4> [[ parseFloat(key).toFixed(1) ]] <hr>
                    <div v-for="(cop, temp) in value" :key="temp"  id="something">
                    Waste Heat Supply Temperature (Celsius): [[ parseFloat(temp).toFixed(0) ]] | Coefficient of Performance: [[ parseFloat(cop).toFixed(2) ]]
                    <hr>
                    </div>
                </div>
                </table>
            </h4>
            <p>This simulation is run using Thermal Engineering Systems in Python (TESPy). Any errors are the website developer's own (<a href="http://www.nicholasfry.net">Nicholas Fry).</a><br><br>
            Witte, Francesco & Tuschy, Ilja. (2020). TESPy: Thermal Engineering Systems in Python. Journal of Open Source Software. 5. 2178. <a href="https://doi.org/10.21105/joss.02178">https://doi.org/10.21105/joss.02178</a> </p>
        </template>
    </ul>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                ran: false,
                is_loading: false,
                row: 0,
                sim: [],
                sim_json: {},
                currentsim: null,
                newSim: {
                    "ttd_condenser": 5,
                    "ttd_evaporator": 5,
                    "water_pump_eff": .75,
                    "dh_pump_eff": .80,
                    "evap_pump_eff": .80,
                    "compressor_eff": .80,
                    "dh_return_temp": 50,
                    "pressure_bar_dh": 10,
                    "dh_supply_temp": 75,
                    "waste_design_temp": 35,
                    "waste_design_pressure": 2,
                    "return_pressure_from_hp": 2,
                    "return_temperature_from_hp": 15,
                    "dh_demand_watts": 4000000,
                },
                editMode: false,
                csrf_token: "",
                postErrors: {}
            },
            methods: {
                runSim: function() {
                    axios({
                    url: `/${this.row}/`
                    }).then(response => {
                        sim_json = JSON.parse(response.data)
                        console.log(sim_json)
                        this.sim = sim_json
                        this.ran = true
                        this.is_loading = false
                    })
                },
                toggleEdit: function() {
                    this.editMode = this.editMode ? false : true
                },
                createSim: function() {
                    axios({
                    method: 'post',
                    url: '/create/',
                    data: {
                    "ttd_condenser": this.newSim.ttd_condenser,
                    "ttd_evaporator": this.newSim.ttd_evaporator,
                    "water_pump_eff": this.newSim.water_pump_eff,
                    "evap_pump_eff": this.newSim.evap_pump_eff,
                    "dh_pump_eff": this.newSim.dh_pump_eff,
                    "compressor_eff": this.newSim.compressor_eff,
                    "dh_return_temp": this.newSim.dh_return_temp,
                    "pressure_bar_dh": this.newSim.pressure_bar_dh,
                    "dh_supply_temp": this.newSim.dh_supply_temp,
                    "waste_design_temp": this.newSim.waste_design_temp,
                    "waste_design_pressure": this.newSim.waste_design_pressure,
                    "return_pressure_from_hp": this.newSim.return_pressure_from_hp,
                    "return_temperature_from_hp": this.newSim.return_temperature_from_hp,
                    "dh_demand_watts": this.newSim.dh_demand_watts,
                    
                    }
                }).then(response => {
                    this.is_loading = true
                    this.row = response.data
                    this.runSim(response.data)
                    // console.log(response.data)
                })
                }
            },
        })
    </script>
</body>
</html>
{% endblock content %}