<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heat Pumps for District Heating</title>
</head>
<body>
    <div id="app">
    {% csrf_token %} 
    <h2>Run a new simulation</h2>
    <div>
        <input type="text" placeholder="Terminal Temp Diff @ Condenser" v-model="newSim.ttd_condenser"><br>
        <input type="text" placeholder="Terminal Temp Diff @ Evaporator" v-model="newSim.ttd_evaporator"><br>
        <input type="text" placeholder="Water Pump Efficiency" v-model="newSim.water_pump_eff"><br>
        <input type="text" placeholder="District Heating Pump Efficiency" v-model="newSim.weight"><br>
        <input type="text" placeholder="Evaporator Pump Efficiency" v-model="newSim.evap_pump_eff"><br>
        <input type="text" placeholder="Compressor Efficiency" v-model="newSim.compressor_eff"><br>
        <input type="text" placeholder="District Heating Return Temp" v-model="newSim.dh_return_temp"><br>
        <input type="text" placeholder="Pressure in Bar for DH" v-model="newSim.pressure_bar_dh"><br>
        <input type="text" placeholder="DH Supply Temperature" v-model="dh_supply_temp"><br>
        <input type="text" placeholder="Waste Heat Design Temperature" v-model="newSim.waste_design_temp"><br>
        <input type="text" placeholder="Pressure in Bar of the Waste Heat Fluid" v-model="newSim.waste_design_pressure"><br>
        <input type="text" placeholder="Return Pressure from Heat Pump" v-model="newSim.return_pressure_from_hp"><br>
        <input type="text" placeholder="Return Temperature from Heat Pump" v-model="newSim.return_temperature_from_hp"><br>
        <input type="text" placeholder="DH Heat Demand in Watts" v-model="newSim.dh_demand_watts"><br>
        <template v-if="postErrors.name">
            <p v-for="error in postErrors.name">[[ error ]]</p>
        </template>
        <!-- <select v-model="newPoke.author">
            <option v-for="user in users" :key="user.id" :value="user.id">[[ user.username ]]</option>
        </select><br> -->
        <button @click="createSim">Run Simulation</button>
    </div> 
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                sim: [],
                newSim: {
                    "ttd_condenser": "",
                    "ttd_evaporator": "",
                    "water_pump_eff": "",
                    "dh_pump_eff": "",
                    "evap_pump_eff": "",
                    "compressor_eff": "",
                    "dh_return_temp": "",
                    "pressure_bar_dh": "",
                    "dh_supply_temp": "",
                    "waste_design_temp": "",
                    "waste_design_pressure": "",
                    "return_pressure_from_hp": "",
                    "return_temperature_from_hp": "",
                    "dh_demand_watts": "",
                },
                editMode: false,
                csrf_token: "",
                postErrors: {}
            },
            methods: {
                runSim: function() {
                    axios({
                        method: 'get',
                        url: '/api_app/'
                    }).then(response => {
                        this.sim = response.data
                    })
                },
                toggleEdit: function() {
                    this.editMode = this.editMode ? false : true
                },
            },
        })
    </script>
</body>
</html>
