{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Share and Save Your Results</title>
</head>
<body>
    <p>If you are interested in keeping your simulation results for later use find the simulation number at the top of the printed results.
    This number can be typed directly into the browser as a url. Simply type: "http://fancyapp.heroku.com/$simulation number here".
    You can then share this url with friends and coworkers.</p>
</body>
</html>
{% endblock content %}